@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*importando fonte online*/
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    /*Importando fonte localmente*/
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    /*Criando variaveis*/


}
*{
    margin: 0;
    padding: 0;
    
}
body{
    
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
   
}
a.externo::after{
    content: '\00A0\1F517';
    /*adiciona um emoji depois dos links externos, 00A0 adiciona um espaço*/
}

header {
    border: 4px solid black;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    background-image: linear-gradient(to bottom, var(--cor1), green);
    
}
header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
nav {
    background-color: var(--cor5);
    border: 1px solid rgba(0, 0, 0, 0.056);
    padding: 10px;
    box-shadow: 1px 7px 9px rgba(0, 0, 0, 0.316);
    text-align: center;
}
nav a {
    color: rgb(177, 207, 184);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    border-radius: 10px;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: var(--cor4);
    color: var(--cor1);
    
}
main {
    background-color: white;
    border: 3px solid black;
    padding: 20px; 
    margin: auto;
    margin-bottom: 30px;
    min-width: 320px;
    max-width: 840px;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main > article > h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    text-align: center;
}
main > article > h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent 50%);
    text-indent: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size:1.1em
    
}
main strong{
    color: var(--cor4);
    font-weight: bold;
   
}
main a{
    background-color: var(--cor2);
    border-radius: 15px;
    padding: 5px;
    color: var(--cor5);
    text-decoration: none;
}
main  a:hover{
    text-decoration: underline;
    color: yellow;
}
main  article img.pequena{
    max-width: 350px;
    min-width: 100px;
    display: block;
    margin: auto;

}
div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -7px 0px -7px;
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 59%;
    padding-top: -20%;
    position:relative;
    
}
div.video > iframe{
    position: absolute;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
article{
    border: 2px solid black;
    padding: 5px;
}
article img{
    width: 100%;
    opacity: 100%;

}
article img:hover{
    opacity: 90%;
}
aside{
    background-color: var(--cor1);
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    
}
aside h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    /*Margin negativa para encaixar no aside*/
    
    border-radius: 10px 10px 0px 0px;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    text-align: center;
}
aside ul{
    list-style-type: '\2714\00a0';
    margin: 15px;
    padding: 10px;
    list-style-position: inside;
    margin: 0;
    padding: 15px;
    background-color: antiquewhite;
    border-radius: 10px;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}
footer a{
    color: white;
    text-decoration: none; 
}
footer a:hover{
    text-decoration: underline;
    color: rgb(19, 137, 1)
}